<%- include('./partials/head') %> 
<body class="container">
  
  <%- include('./partials/navbar') %>
  <%- include('./partials/productForm') %>
  <div class="container">
      <div class="row">
        <div class="col">
          <%- include('./partials/history') %> 
        </div>
      </div>
  </div>
  <script src="index.js"></script>

</body>