<%- include('./partials/head') %> 
<form action="/products" method="get" name="products" class="" style="
    width: 16%;
">
   <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Create" type="Submit">Add Product</button>
</form>
<%- include('./partials/history') %> 