<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div class="chat">
                    <div class="chat-history disabled">
                        <ul id="chatHistory" class="m-b-0">
                            
                        </ul>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="chat-message clearfix">
                                    <div class="input-group mb-0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-send"></i></span>
                                        </div>
                                        <input id='message' type="text" class="form-control" placeholder="Enter text here..." disabled>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <input id="send" type="button" class="btn btn-lg btn-primary btn-block" name="send" value="Send!" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>